<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Complete list of known ships</h2>

    <div class="content">
      <ul>
      <% @ships.each do |ship|%>
        <li><%= ship.type_class%>: <%= ship.affiliation%> <a href="/ship/<%= ship.id%>">Details</a></li>
      <% end%>
      </ul>
    </div>

    <a href="/new"><button><h4>Add new vessel</h4></button></a>
    <a href="/"><button><h4>Home</h4></button></a>
    <a href="/logout"><button><h4>Log Out</h4></button></a></li>
    <br></br>
  </div>
</div>