<div class="container">
<header><img src="#" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
      <h2>Library Computer Access/Retrieval System (LCARS)</h2>

      <div class="content">
          <h3>Welcome back!</h3>
      
          <form method="post" action="/login">
              Agent or Organization Name: <input type="text" name="username" id="username"><br>
              Password: <input type="text" name="password" id="password">
              <br>
              <input type="submit" name="submit">
          </form>
  
      </div>

      <a href="/"><button><h4>Home</h4></button></a>
      <br></br>
      <p>Not yet a user? <a href="/signup"><button><h4>Login</h4></button></a></p>

  </div>
</div>
