<div class="container">
<div class="col-md-8 col-md-offset-2">

  <h2>Record a new vessel</h2>

  <div class="content">
    <form method="post" action="/ships">
        <label>Type/class: </label><input name="ship[type_class]" type="text">*<br>
        <label>Sub-class: </label><input name="ship[sub_class]" type="text"><br>
        <label>Top Speed (warp factor): </label><input name="ship[top_speed]" type="text"><br>
        <label>Crew complement: </label><input name="ship[crew]" type="text"><br>
        <label>Affiliation or Empire: </label><input name="ship[affiliation]" type="text">*<br>
        <label>Note: </label><input name="ship[note]" type="text"><br>
        <br>
        <p>*Asterisk indicates mandatory field</p>
        <input value="submit" type="submit">
    </form>    

  </div>

  <a href="/"><button><h4>Home</h4></button></a>
  <br></br>

</div>
</div>