<div class="container">
<div class="col-md-8 col-md-offset-2">

  <h2>Record a new vessel</h2>

  <div class="content">
    <form method="post" action="/all">
        <label>Type/class: </label><input name="type_class" type="text">*<br>
        <label>Sub-class: </label><input name="sub_class" type="text"><br>
        <label>Top Speed (warp factor): </label><input name="top_speed" type="text"><br>
        <label>Crew complement: </label><input name="crew" type="text"><br>
        <label>Affiliation or Empire: </label><input name="affiliation" type="text">*<br>
        <label>Note: </label><input name="note" type="text"><br>
        <br>
        <p>*Asterisk indicates mandatory field</p>
        <input name="submit" type="submit">
    </form>    

  </div>

  <a href="/"><button><h4>Home</h4></button></a>
  <br></br>

</div>
</div>