<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Library Computer Access/Retrieval System (LCARS)</h2>

    <div class="content">
      <h3>Welcome to <a href="https://en.wikipedia.org/wiki/LCARS">LCARS</a> for Starships!</h3>
      <p>Whether you're part of Starfleet Intelligence, or the <a href="http://memory-alpha.wikia.com/wiki/Obsidian_Order">Obsidian Order</a>, or the <a href="http://memory-alpha.wikia.com/wiki/Tal_Shiar">Tal Shiar</a>, or just a mobster with the <a href="http://memory-alpha.wikia.com/wiki/Orion_Syndicate">Orion Syndicate</a>, we've got you covered.</p>
      
      <p>LCARS helps you and your intelligence organization track and share information about relevant spacecraft.</p>
    </div>

    <div class="sidebar">
      <h3>Menu</h3>
      <ul>
        <% if is_logged_in?%>
          <li><a href="/ships"><button><h4>Index</h4></button></a></li><br>
          <li><a href="/logout"><button><h4>Log Out</h4></button></a></li><br>
        <% else%>
          <li><a href="/signup"><button><h4>Sign Up</h4></button></a></li><br>
          <li><a href="/login"><button><h4>Login</h4></button></a></li><br>
        <% end%>
        <li> For more information, see the <a href="https://github.com/ddhogan/starship-LCARS/blob/master/README.md">README</a></li>
      </ul>
    </div>

  </div>
</div>
